{
  "openapi": "3.0.3",
  "info": {
    "title": "LearningSuite API",
    "description": "Public API for LearningSuite. Use the path **/api/v1** as prefix for all your requests.",
    "version": "1.16.0"
  },
  "servers": [
    {
      "url": "https://api.learningsuite.io/api/v1",
      "description": "API Server"
    }
  ],
  "paths": {
    "/auth": {
      "get": {
        "summary": "dummy endpoint to check authorization",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/members": {
      "post": {
        "summary": "Create a new member",
        "tags": [
          "Members"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "firstName",
                  "lastName"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "phone": {
                    "nullable": true,
                    "type": "string"
                  },
                  "about": {
                    "nullable": true,
                    "type": "string"
                  },
                  "position": {
                    "nullable": true,
                    "type": "string"
                  },
                  "city": {
                    "nullable": true,
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "disableLoginEmail": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, the user will not receive a welcome email with login instructions"
                  },
                  "doNotRequirePasswordChange": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, the user will not be required to change their password on first login"
                  },
                  "locale": {
                    "type": "string",
                    "description": "The language setting of the member in the plattform",
                    "enum": [
                      "de",
                      "en"
                    ]
                  },
                  "ignoreIfAlreadyExists": {
                    "type": "boolean",
                    "default": false,
                    "description": "If the member already exists, no error will be thrown and the existing member will be returned"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "get": {
        "summary": "Get members",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "includeGroups",
            "in": "query",
            "required": false,
            "schema": {
              "default": false,
              "description": "Include groups the member is part of in the response for each member",
              "type": "boolean"
            }
          },
          {
            "name": "days_not_logged_in_gte",
            "description": "The minimum number of days the user has not logged in. If set, per default users who have never logged in are not included.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include_never_logged_in",
            "description": "Include users who never logged in in the result. If days_not_logged_in_gte is not set, default is true, otherwise false.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "description": "The maximum number of members to return -> useful for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1000,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "description": "The number of members to skip -> useful for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "description": "Depending if includeGroups is false or true, the response will be User or UserWithGroups",
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/User"
                      },
                      {
                        "$ref": "#/components/schemas/UserWithGroups"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/members/by-email": {
      "get": {
        "summary": "Get a member by email",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeGroups",
            "in": "query",
            "required": false,
            "schema": {
              "default": false,
              "description": "Include groups the member is part of in the response for each member",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Depending if includeGroups is false or true, the response will be User or UserWithGroups",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/User"
                    },
                    {
                      "$ref": "#/components/schemas/UserWithGroups"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/members/{memberId}": {
      "parameters": [
        {
          "name": "memberId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get a member",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "includeGroups",
            "in": "query",
            "required": false,
            "schema": {
              "default": false,
              "description": "Include groups the member is part of in the response",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Depending if includeGroups is false or true, the response will be User or UserWithGroups",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/User"
                    },
                    {
                      "$ref": "#/components/schemas/UserWithGroups"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "put": {
        "summary": "Update a member",
        "tags": [
          "Members"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "about": {
                    "type": "string"
                  },
                  "position": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "description": "Needs to be a valid email and unique for the tenant."
                  },
                  "locale": {
                    "type": "string",
                    "description": "The language setting of the member in the plattform",
                    "enum": [
                      "de",
                      "en"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a member",
        "tags": [
          "Members"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/members/{memberId}/courses": {
      "parameters": [
        {
          "name": "memberId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get all courses for a member with access and progress information",
        "tags": [
          "Courses"
        ],
        "parameters": [
          {
            "name": "dateForAccessCheck",
            "in": "query",
            "required": false,
            "description": "defaults to current date",
            "schema": {
              "$ref": "#/components/schemas/IsoDateTime"
            }
          },
          {
            "name": "limit",
            "description": "The maximum number of courses to return -> for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1000,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "description": "The number of courses to skip -> for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CourseInfoForUser"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "put": {
        "summary": "Add a member to courses",
        "tags": [
          "Courses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "courseIds"
                ],
                "properties": {
                  "courseIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "accessGivenAt": {
                    "$ref": "#/components/schemas/IsoDateTime"
                  },
                  "disableAccessNotificationEmail": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, the user will not receive an email new course accesses"
                  },
                  "sendLoginLinkInCourseEmail": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, the user will receive a login link in the course access email if he has never logged in before. The email even be sent within the first 24 hours after user creation (Normally we do not send any emails to new users in the first 24 hours, if they have not logged in)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Removes a member from courses",
        "tags": [
          "Courses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "courseIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "removed": {
                      "type": "integer",
                      "description": "number of removed courses"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/members/{memberId}/course-info/{courseId}": {
      "get": {
        "summary": "Get a member's access  and progress information for a course",
        "tags": [
          "Courses"
        ],
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateForAccessCheck",
            "in": "query",
            "required": false,
            "description": "defaults to current date",
            "schema": {
              "$ref": "#/components/schemas/IsoDateTime"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the member's access and progress with the course",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/UserCourseProgressInfo"
                    },
                    {
                      "$ref": "#/components/schemas/UserCourseAccessInfo"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/members/{memberId}/bundles": {
      "parameters": [
        {
          "name": "memberId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get all bundles of a member with access information",
        "tags": [
          "Bundles"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BundleWithAccessInfo"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "put": {
        "summary": "Add a member to bundles",
        "tags": [
          "Bundles"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bundles"
                ],
                "properties": {
                  "bundles": {
                    "type": "array",
                    "description": "list of bundle ids",
                    "items": {
                      "type": "string"
                    }
                  },
                  "accessGivenAt": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/IsoDateTime"
                      },
                      {
                        "description": "DEPRECATED - Use accessGivenAtOverride instead",
                        "deprecated": true,
                        "default": "now"
                      }
                    ]
                  },
                  "accessGivenAtOverride": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/IsoDateTime"
                      },
                      {
                        "default": "now",
                        "description": "If set, overrides the date the user will have got access. Useful when wanting to override certain content drips or access durations."
                      }
                    ]
                  },
                  "accessUntilOverride": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/IsoDateTime"
                      },
                      {
                        "description": "If set, the user has only access until this date. The access duration from the bundle will be ignored."
                      }
                    ]
                  },
                  "unlimitedAccess": {
                    "type": "boolean",
                    "required": false,
                    "default": "undefined",
                    "description": "If set, the user has unlimited access to the bundle, independent of the access duration of the bundle"
                  },
                  "disableAccessNotificationEmail": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, the user will not receive an email new course accesses"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Remove a member from bundles",
        "tags": [
          "Bundles"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bundleIds"
                ],
                "properties": {
                  "bundleIds": {
                    "type": "array",
                    "description": "List of bundle ids to remove the member from.",
                    "items": {
                      "type": "string",
                      "description": "Bundle ID"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/team-members": {
      "get": {
        "summary": "Get Team Members, which includes all users which are NOT members and therefore have admin zone access",
        "tags": [
          "Team-Members"
        ],
        "parameters": [
          {
            "name": "limit",
            "description": "The maximum number of users to return -> useful for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 15,
              "maximum": 100,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "description": "The number of users to skip -> useful for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/team-members/by-email": {
      "get": {
        "summary": "Get a specific Team Member by email. If multiple users with the same email exist, the first one found will be returned.",
        "tags": [
          "Team-Members"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "Email is case insensitive, but needs to be an exact match",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/team-members/{userId}": {
      "parameters": [
        {
          "name": "userId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get a Team Member by ID",
        "tags": [
          "Team-Members"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/user/roles": {
      "get": {
        "summary": "Get all roles",
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/user/push-notifications/send": {
      "post": {
        "summary": "Send push notifications to all requested users with an active login session. Note: This is only available if a custom app is used.",
        "tags": [
          "Push-Notifications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "linkUrl"
                ],
                "description": "Either userIds or groupIds must be provided.",
                "properties": {
                  "userIds": {
                    "type": "array",
                    "description": "List of user IDs to send the push notification to",
                    "items": {
                      "type": "string"
                    }
                  },
                  "groupIds": {
                    "type": "array",
                    "description": "List of group IDs to send the push notification to all members of the group",
                    "items": {
                      "type": "string"
                    }
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the push notification"
                  },
                  "body": {
                    "type": "string",
                    "description": "The body text of the push notification in Plain Text."
                  },
                  "linkUrl": {
                    "type": "string"
                  },
                  "publicImageUrl": {
                    "type": "string",
                    "description": "A public image URL to show in the push notification."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "successCount": {
                      "type": "integer",
                      "description": "Number of successfully sent push notifications"
                    },
                    "failureCount": {
                      "type": "integer",
                      "description": "Number of failed push notifications"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bundles": {
      "get": {
        "summary": "Get bundles",
        "tags": [
          "Bundles"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Bundle"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bundle/{bundleId}/members": {
      "get": {
        "summary": "Get members of a bundle with access info",
        "tags": [
          "Bundles"
        ],
        "parameters": [
          {
            "name": "bundleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "The maximum number of members to return -> for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "description": "The number of members to skip -> for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserWithBundleAccessInfo"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/courses/published": {
      "get": {
        "summary": "Get published courses",
        "tags": [
          "Courses"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Course"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/courses/{courseId}/modules": {
      "get": {
        "summary": "Get all modules of a course",
        "tags": [
          "Courses"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Module"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/courses/{courseId}/modules/{memberId}": {
      "get": {
        "summary": "Get all modules of a course, with the visibility information for the given member.",
        "tags": [
          "Courses"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "The member to get the content drip information for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Module"
                      },
                      {
                        "type": "object",
                        "required": [],
                        "properties": {
                          "memberData": {
                            "type": "object",
                            "nullable": true,
                            "description": "Content drip and visibility information for the member. Null if the module is not present in the published course version.",
                            "properties": {
                              "visibility": {
                                "type": "string",
                                "enum": [
                                  "VISIBLE",
                                  "HIDDEN",
                                  "LOCKED"
                                ],
                                "description": "If the module is currently: VISIBLE (accessible), HIDDEN (not shown) or LOCKED (shown but not accessible) for the member."
                              },
                              "earliestVisitableDate": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true,
                                "description": "The earliest date the member had access to the module content, taking into account content drip settings and overrides. Null if the member has not yet started."
                              },
                              "effectiveContentDripState": {
                                "type": "string",
                                "enum": [
                                  "locked",
                                  "comingSoon",
                                  "timeDelay",
                                  "visible",
                                  "accessUntil",
                                  "hidden",
                                  "paused",
                                  "upsellLink"
                                ],
                                "description": "The current effective content drip type for the member, taking into account content drip overrides."
                              },
                              "started": {
                                "type": "boolean",
                                "description": "Whether the member has started the module (e.g. viewed any lesson or started any quiz in the module)."
                              },
                              "contentDripIsOverridden": {
                                "type": "boolean",
                                "description": "Whether the content drip settings for this module have been overridden for the member."
                              }
                            }
                          },
                          "isOverridden": {
                            "type": "boolean",
                            "deprecated": true,
                            "description": "Whether the content drip settings for this module have been overridden for the member. Same as memberData.contentDripIsOverridden."
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/courses/{courseId}/members": {
      "get": {
        "summary": "Get the members for a course, with access information and optional progress",
        "tags": [
          "Courses"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of members to return -> for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The offset for limit -> for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "includeProgress",
            "in": "query",
            "required": false,
            "description": "If set, a field called progressInfo will be included for each member.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserWithCourseAccessInfo"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/courses/{courseId}/access-requests": {
      "get": {
        "summary": "Get access requests for a module",
        "tags": [
          "Courses"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 15,
              "minimum": 1,
              "description": "The maximum number of access requests to return"
            }
          },
          {
            "name": "offset",
            "description": "The number of access requests to skip -> for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModuleAccessRequest"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/courses/{courseId}/submissions": {
      "get": {
        "summary": "Get all submissions in a course. (chronological order with newest first)",
        "tags": [
          "Courses"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 15,
              "minimum": 1,
              "description": "The maximum number of submissions to return"
            }
          },
          {
            "name": "offset",
            "description": "The number of submissions to skip -> for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Ordered by submission created at date, newest first.",
                  "items": {
                    "$ref": "#/components/schemas/Submission"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/courses/{courseId}/create-lesson/{sectionId}": {
      "post": {
        "summary": "Create lesson with optional content",
        "description": "Creates a lesson in the provided section. If the thumbnail is extracted from the video, the video processing is asynchronous and the thumbnail might not be available immediately.",
        "tags": [
          "Courses"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name of the lesson and page"
                  },
                  "lessonDescription": {
                    "deprecated": true,
                    "type": "string"
                  },
                  "htmlContent": {
                    "type": "string",
                    "description": "Will be parsed to LearningSuite content, no media elements except images are supported at the moment."
                  },
                  "videoUrl": {
                    "type": "string",
                    "description": "A downloadable video url. The lesson image gets set asynchronous from the video thumbnail, if no thumbnail is provided."
                  },
                  "thumbnailUrl": {
                    "type": "string",
                    "description": "A downloadable image url. The lesson and video thumbnail is set by this image."
                  },
                  "timestampInSecondsToGenerateThumbnail": {
                    "type": "number",
                    "description": "The video timestamp in seconds to generate the thumbnail from. If not provided, the thumbnail is generated from the beginning of the video. The video processing is asynchronous and the thumbnail might not be available immediately."
                  },
                  "immediatelyPublishCourse": {
                    "type": "boolean",
                    "description": "automatically publishes all changes including this lesson"
                  },
                  "lessonSortPosition": {
                    "type": "string",
                    "default": "last",
                    "enum": [
                      "first",
                      "last"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "relativePath": {
                      "description": "relative student path to the lesson",
                      "type": "string"
                    },
                    "absolutePath": {
                      "description": "Student URL to the lesson",
                      "type": "string"
                    },
                    "lessonId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/modules/{moduleId}/lessons": {
      "get": {
        "summary": "Get lessons for a module",
        "tags": [
          "Courses"
        ],
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lesson"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/modules/{moduleId}/sections": {
      "get": {
        "summary": "Get all sections of a module",
        "tags": [
          "Courses"
        ],
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Section"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/create-module-unlock-override": {
      "post": {
        "summary": "Create module unlock override",
        "tags": [
          "Courses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "moduleId",
                  "courseInstanceId",
                  "new_module_access",
                  "userId"
                ],
                "properties": {
                  "moduleId": {
                    "type": "string"
                  },
                  "courseInstanceId": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  },
                  "new_module_access": {
                    "type": "string",
                    "enum": [
                      "on_demand",
                      "hidden",
                      "published",
                      "locked",
                      "after_previous"
                    ],
                    "description": "The new module access type. Note: For 'on_demand' additional configuration via the 'on_demand_value' is possible."
                  },
                  "on_demand_value": {
                    "type": "object",
                    "description": "If new_module_access is 'on_demand', this object can be used to set the reasonIsMandatory and description.",
                    "properties": {
                      "reasonIsMandatory": {
                        "type": "boolean",
                        "description": "If true, the user will be required to provide a reason when requesting access to the module.",
                        "default": false
                      },
                      "description": {
                        "type": "string",
                        "description": "The description that is shown to the user when requesting access to the module."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/groups": {
      "post": {
        "summary": "Create group",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "get": {
        "summary": "Get groups",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "includeUsers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "description": "Depending if includeUsers is false or true, the response will be Group or GroupWithUsers",
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/GroupWithUsers"
                      },
                      {
                        "$ref": "#/components/schemas/Group"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/groups/find-by-name": {
      "get": {
        "summary": "Find groups by name",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeUsers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "description": "Depending if includeUsers is false or true, the response will be Group or GroupWithUsers",
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/GroupWithUsers"
                      },
                      {
                        "$ref": "#/components/schemas/Group"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/add-members-to-groups": {
      "put": {
        "summary": "Add members to groups",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userIds",
                  "groupIds"
                ],
                "properties": {
                  "userIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "groupIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "disableAccessNotificationEmail": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, the user will not receive an email new course accesses"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "groups": {
                      "description": "All affected groups with their updated user lists",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GroupWithUsers"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/add-members-to-groups-summary": {
      "put": {
        "summary": "Add members to groups (summary response)",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userIds",
                  "groupIds"
                ],
                "properties": {
                  "userIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "groupIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "disableAccessNotificationEmail": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, the user will not receive an email new course accesses"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "numberOfAddedUserGroupAssignments": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/remove-members-from-groups": {
      "delete": {
        "summary": "Remove members from groups",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userIds",
                  "groupIds"
                ],
                "properties": {
                  "userIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "groupIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "groups": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Group"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/group/{groupId}": {
      "delete": {
        "summary": "Delete group",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/group/{groupId}/courses": {
      "get": {
        "summary": "Get all courses of a group",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Course"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "put": {
        "summary": "Add courses to group",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "courseIds"
                ],
                "properties": {
                  "courseIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "disableAccessNotificationEmail": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, the user will not receive an email new course accesses"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Remove courses from a group",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "courseIds"
                ],
                "properties": {
                  "courseIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "removed": {
                      "type": "integer",
                      "description": "number of removed courses"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/group/{groupId}/bundles": {
      "put": {
        "summary": "Add bundles to group",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bundleIds"
                ],
                "properties": {
                  "bundleIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "disableAccessNotificationEmail": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, the user will not receive an email new course accesses"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/hub-templates": {
      "get": {
        "summary": "Get hub templates",
        "tags": [
          "Hubs"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Hub"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/hubs": {
      "get": {
        "summary": "Get published hubs",
        "tags": [
          "Hubs"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Hub"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/hub-template/{hubTemplateId}/variables": {
      "get": {
        "summary": "Get hub template variables",
        "tags": [
          "Hubs"
        ],
        "parameters": [
          {
            "name": "hubTemplateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/hub": {
      "post": {
        "summary": "Create hub",
        "tags": [
          "Hubs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "templateId",
                  "name",
                  "description",
                  "sortIndex",
                  "templateVariables"
                ],
                "properties": {
                  "templateId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "sortIndex": {
                    "type": "integer"
                  },
                  "templateVariables": {
                    "type": "object"
                  },
                  "publish": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hub"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/hub/{hubId}/access": {
      "put": {
        "summary": "Add hub accesses",
        "tags": [
          "Hubs"
        ],
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "memberIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "groupIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "bundleIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Remove hub accesses",
        "tags": [
          "Hubs"
        ],
        "parameters": [
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "memberIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "groupIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "bundleIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/popups": {
      "get": {
        "summary": "Get a paginated list of popups",
        "tags": [
          "Popups"
        ],
        "parameters": [
          {
            "name": "limit",
            "description": "The maximum number of popups to return -> useful for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 100,
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "description": "The number of popups to skip -> useful for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomPopup"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/popups/{{popupId}}": {
      "get": {
        "summary": "Get a custom popup",
        "tags": [
          "Popups"
        ],
        "parameters": [
          {
            "name": "popupId",
            "in": "path",
            "required": true,
            "description": "Custom Popup ID or SID (short ID)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPopup"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/popups/{popupId}/trigger/{memberId}": {
      "post": {
        "summary": "Trigger a popup for a member",
        "tags": [
          "Popups"
        ],
        "parameters": [
          {
            "name": "popupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Remove a popup trigger for a member",
        "tags": [
          "Popups"
        ],
        "parameters": [
          {
            "name": "popupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/community/areas": {
      "get": {
        "summary": "Get community areas",
        "tags": [
          "Community"
        ],
        "parameters": [
          {
            "name": "limit",
            "description": "The maximum number of community areas to return -> useful for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 15,
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "description": "The number of community areas to skip -> useful for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityArea"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/community/forums": {
      "get": {
        "summary": "Get community forums",
        "tags": [
          "Community"
        ],
        "parameters": [
          {
            "name": "areaId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "The maximum number of community forums to return -> useful for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 15,
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "description": "The number of community forums to skip -> useful for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityForum"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/community/posts": {
      "get": {
        "summary": "Get all published community posts",
        "tags": [
          "Community"
        ],
        "parameters": [
          {
            "name": "areaId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "forumId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest",
              "enum": [
                "relevance",
                "latest",
                "top",
                "latestContent"
              ]
            }
          },
          {
            "name": "limit",
            "description": "The maximum number of community posts to return -> useful for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 15,
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "description": "The number of community posts to skip -> useful for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityPost"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/community/badges": {
      "get": {
        "summary": "Get community badges",
        "tags": [
          "Community"
        ],
        "parameters": [
          {
            "name": "limit",
            "description": "The maximum number of community badges to return -> useful for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 15,
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "description": "The number of community badges to skip -> useful for pagination",
            "in": "query",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          },
          {
            "name": "badgeGroupId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "If set, only badges of the given badge group id are returned"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items"
                  ],
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityBadge"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/community/badges/user": {
      "put": {
        "summary": "Assign badges to a user",
        "tags": [
          "Community"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId",
                  "badgeIds"
                ],
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "badgeIds": {
                    "type": "array",
                    "description": "The badge ids to assign to the user",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "added"
                  ],
                  "properties": {
                    "added": {
                      "description": "The amount of badges added to the user",
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Remove badges from a user",
        "tags": [
          "Community"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId",
                  "badgeIds"
                ],
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "badgeIds": {
                    "type": "array",
                    "description": "The badge ids to remove from the user",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "removed"
                  ],
                  "properties": {
                    "removed": {
                      "description": "The amount of badges removed from the user",
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/community/posts/{postId}/comments": {
      "parameters": [
        {
          "name": "postId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "Comment on a Community Post or answer to a comment of the post",
        "tags": [
          "Community"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "authorUserId",
                  "postId",
                  "comment"
                ],
                "properties": {
                  "authorUserId": {
                    "type": "string",
                    "description": "The id of the user who is commenting. Needs to be an admin."
                  },
                  "answerToCommentId": {
                    "type": "string",
                    "description": "If set, the comment is an answer to another comment"
                  },
                  "commentText": {
                    "type": "string",
                    "description": "The text of the comment. Needs to be plain text, with no formatting (e.g. no HTML)"
                  },
                  "enableWebhookTriggering": {
                    "type": "boolean",
                    "default": false,
                    "description": "Per default, commenting via API does NOT trigger webhooks. Set this to true, if you want to trigger webhooks like the community.post.commented event. WARNING: This can lead to infinite loops, if the webhook calls the same API again."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityPostComment"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/webhooks/subscription": {
      "description": "Subscribe to events via webhooks. The webhook Response will be one of SubscriptionPayload.",
      "get": {
        "summary": "Get all subscriptions",
        "tags": [
          "Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subscription"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "summary": "Create subscription",
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hookUrl",
                  "type",
                  "filter"
                ],
                "properties": {
                  "hookUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to call with the event data. The data type is defined in SubscriptionPayload."
                  },
                  "type": {
                    "$ref": "#/components/schemas/SubscriptionType"
                  },
                  "filter": {
                    "$ref": "#/components/schemas/SubscriptionFilter"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/webhooks/subscription/{subscriptionId}": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "query",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get a subscription",
        "tags": [
          "Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "put": {
        "summary": "Update a subscription",
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hookUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to call with the event data"
                  },
                  "type": {
                    "$ref": "#/components/schemas/SubscriptionType"
                  },
                  "filter": {
                    "$ref": "#/components/schemas/SubscriptionFilter"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a subscription",
        "tags": [
          "Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The id of the deleted subscription"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/webhooks/sample-data/progress-changed-events": {
      "get": {
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "If set, the last progress changed event of this user is returned. (userId and courseId need to be provided)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "courseId",
            "in": "query",
            "required": false,
            "description": "If set, the last progress changed event of this user is returned. (userId and courseId need to be provided)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Get sample data for progress changed events",
        "tags": [
          "Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CourseProgressChangedPayload"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/webhooks/sample-data/lesson-completed-events": {
      "get": {
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "If set, the last lesson completed event of this user is returned. (userId, courseId, moduleId and lessonId all need to be provided)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "courseId",
            "in": "query",
            "required": false,
            "description": "If set, the last lesson completed event of this user is returned. (userId, courseId, moduleId and lessonId all need to be provided)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "moduleId",
            "in": "query",
            "required": false,
            "description": "If set, the last lesson completed event of this user is returned. (userId, courseId, moduleId and lessonId all need to be provided)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lessonId",
            "in": "query",
            "required": false,
            "description": "If set, the last lesson completed event of this user is returned. (userId, courseId, moduleId and lessonId all need to be provided)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Get sample data for the lesson completed event",
        "tags": [
          "Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LessonCompletedPayload"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/webhooks/sample-data/feedback-events": {
      "get": {
        "summary": "Get sample data for feedback events",
        "tags": [
          "Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeedbackCreatedPayload"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/webhooks/sample-data/new-login-events": {
      "get": {
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "If set, the last new login event of this user is returned",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "loginType",
            "in": "query",
            "required": false,
            "description": "The type of login event",
            "schema": {
              "enum": [
                "email-password",
                "magic-link",
                "password-reset",
                "google",
                "app-email-code",
                "oidc"
              ],
              "type": "string"
            }
          }
        ],
        "summary": "Get sample data for new login events",
        "tags": [
          "Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LoginNewPayload"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/webhooks/sample-data/exam-completed-events": {
      "get": {
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "If set, 3 or less past exam completed events of this user are returned",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Get sample data for exam completed events",
        "tags": [
          "Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
[...]
